<div id="footer-container" class="yt-base-gutter"><div id="footer"><div id="footer-main"><div id="footer-logo"><a href="/" title="YouTube home"><img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="YouTube home"></a></div>  <ul class="pickers yt-uix-button-group" data-button-toggle-group="optional">
      <li>
          
  <button title="Currently unimplemented" disabled="" class="yt-uix-tooltip yt-uix-button yt-uix-button-default yt-uix-button-size-default" type="button" id="yt-picker-language-button" onclick=";return false;" data-button-toggle="true" data-button-menu-id="arrow-display" data-picker-key="language" data-picker-position="footer" data-button-action="yt.www.picker.load" role="button"><span class="yt-uix-button-valign"></span><span class="yt-uix-button-icon-wrapper"><img class="yt-uix-button-icon yt-uix-button-icon-footer-language" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></span><span class="yt-uix-button-content">  <span class="yt-picker-button-label">
Language:
  </span>
  English
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>


      </li>
      <li>
          
  <button title="Currently unimplemented" disabled="" class="yt-uix-tooltip yt-uix-button yt-uix-button-default yt-uix-button-size-default" type="button" id="yt-picker-country-button" onclick=";return false;" data-button-toggle="true" data-button-menu-id="arrow-display" data-picker-key="country" data-picker-position="footer" data-button-action="yt.www.picker.load" role="button"><span class="yt-uix-button-content">  <span class="yt-picker-button-label">
Country:
  </span>
  Worldwide
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>


      </li>
      <li>
          
  <button title="Currently unimplemented" disabled="" class="yt-uix-tooltip yt-uix-button yt-uix-button-default yt-uix-button-size-default" type="button" id="yt-picker-safetymode-button" onclick=";return false;" data-button-toggle="true" data-button-menu-id="arrow-display" data-picker-key="safetymode" data-picker-position="footer" data-button-action="yt.www.picker.load" role="button"><span class="yt-uix-button-content">  <span class="yt-picker-button-label">
Safety:
  </span>
Off
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>


      </li>
  </ul>
  <button class="yt-uix-button-reverse yt-uix-button yt-uix-button-default yt-uix-button-size-default" id="google-help" type="button" onclick="yt.www.feedback.startHelp(this, null, &quot;homepage&quot;);return false;"  role="button"><span class="yt-uix-button-content">  <img class="questionmark" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif">
  <span>Help</span>
    <img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif">
 </span></button>
      <div id="yt-picker-language-footer"
      class="yt-picker"
      style="display: none"
>
      <p class="yt-spinner">
      <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="yt-spinner-img" alt="Loading icon">

    <span class="yt-spinner-message">
Loading...
    </span>
  </p>

  </div>

      <div id="yt-picker-country-footer"
      class="yt-picker"
      style="display: none"
>
      <p class="yt-spinner">
      <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="yt-spinner-img" alt="Loading icon">

    <span class="yt-spinner-message">
Loading...
    </span>
  </p>

  </div>

      <div id="yt-picker-safetymode-footer"
      class="yt-picker"
      style="display: none"
>
      <p class="yt-spinner">
      <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="yt-spinner-img" alt="Loading icon">

    <span class="yt-spinner-message">
Loading...
    </span>
  </p>

  </div>

</div><div id="footer-links"><ul id="footer-links-primary">  <li><a href="/yt/about/">About</a></li>
  <li><a href="/yt/press/">Press &amp; Blogs</a></li>
  <li><a href="/yt/copyright/">Copyright</a></li>
  <li><a href="/yt/creators/">Creators &amp; Partners</a></li>
  <li><a href="/yt/advertise/">Advertising</a></li>
  <li><a href="/yt/dev/">Developers</a></li>
</ul><ul id="footer-links-secondary">  <li><a href="/t/terms">Terms</a></li>
  <li><a href="http://www.google.com/intl/en/policies/privacy/">Privacy</a></li>
  <li><a href="/yt/policyandsafety/">
Policy &amp; Safety
  </a></li>
  <li><a href="//github.com/YukisCoffee/hitchhiker/issues">Send feedback</a></li>
  <li><a href="/testtube">Try something new!</a></li>
  <li>  <span class="copyright" dir="ltr">&copy; 2013 YouTube, LLC</span>
  <span class="copyright" dir="ltr">&bull; Frontend by <a href="//github.com/YukisCoffee/hitchhiker">YukisCoffee</a> &lt;3</span>
</li>
</ul></div></div></div>