{% extends "/base/base.html.twig" %}
{% import "/context_item.html.twig" as context_item %}

{% set ytJsPageName = "index" %}

{% block page_scripts %}
<script>
   yt.setAjaxToken('feed_change_ajax', "KOGGxR_U2o9S_0LIdZO9yTzotft8MTM3OTExNjgwM0AxMzc5MDMwNDAz");

   yt.setConfig({
     'MASTHEAD_ENCRYPTED_ID': "Ah7FL60bTOQ",
     'MASTHEAD_IS_BRANDED': false
   });






 yt.setConfig('JS_PAGE_MODULES', {
   "\/\/s.ytimg.com\/yts\/jsbin\/www-vflswGbrk\/www_feed_mod.js": []
 });
</script>
{% endblock %}

{% block content %}





  <div class="branded-page-v2-container  branded-page-v2-secondary-column-hidden" >
    <div class="branded-page-v2-col-container clearfix">
      <div class="branded-page-v2-primary-col">
            <div class="branded-page-v2-primary-col-header-container">
      
  <div id="context-source-container"data-context-source="Popular on YouTube"style="display:none;"></div>

    </div>
  <div class="branded-page-v2-body" id="gh-activityfeed">
        <div class="context-data-container">
          {#
          <div class="lohp-newspaper-shelf vve-check" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAIQ0R4oAA">
    
    <div class="lohp-large-shelf-container">
        <div class="context-data-item" data-context-item-type="video" data-context-item-id="duKL2dAJN6I" data-context-item-time="12:53" data-context-item-user="latenight" data-context-item-title="&quot;Joking Bad&quot; - Late Night with Jimmy Fallon" data-context-item-views="1,024,614 views" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAMQ0x4oAA">
    
    <a href="/watch?v=duKL2dAJN6I" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap spf-link"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAMQ0x4oAA&amp;hdline=-2838339036528657338">    <span class="video-thumb  yt-thumb yt-thumb-370">
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="//i1.ytimg.com/vi/duKL2dAJN6I/hqdefault.jpg" alt="Thumbnail" width="370" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">12:53</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="duKL2dAJN6I" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
      <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAMQ0x4oAA&amp;hdline=-2838339036528657338"
     href="/watch?v=duKL2dAJN6I"
     title="&quot;Joking Bad&quot; - Late Night with Jimmy Fallon">&quot;Joking Bad&quot; - Late Night with Jimmy Fallon</a>


      <div class="lohp-video-metadata attached">
          <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/latenight" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UC8-Th83bH_thdKZDJCrn88g" data-name="">latenight</a>
  </span>

      </div>
        
    <p title="&#39;Joking Bad,&#39; Jimmy Fallon&#39;s &#39;Breaking Bad&#39; Parody, Is Truly Stunning (VIDEO)" class="lohp-blog-headline">
      &#39;Joking Bad,&#39; Jimmy Fallon&#39;s &#39;Breaking Bad&#39; Parody, Is Truly Stunning (VIDEO)
    </p>
    <a title="Entertainment - The Huffington Post" href="/channel/HCvdb9fRyEP_E?feature=g-logo" class="lohp-blog-attribution">
      <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" class="lohp-blog-decoration">Entertainment - The Huffington Post
    </a>

  </div>

    </div>
    <div class="lohp-medium-shelves-container">
            <div class="lohp-medium-shelf context-data-item vve-check spf-link" data-context-item-type="video" data-context-item-id="cUhPA5qIxDQ" data-context-item-time="33:20" data-context-item-user="Tomorrowland Channel" data-context-item-title="Tomorrowland 2013 | official aftermovie" data-context-item-views="3,998,712 views" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAUQ0h4oAQ">
    
    <div class="lohp-media-object">
      <a href="/watch?v=cUhPA5qIxDQ" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAUQ0h4oAQ">    <span class="video-thumb  yt-thumb yt-thumb-128"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="//i1.ytimg.com/vi/cUhPA5qIxDQ/default.jpg" alt="Thumbnail" width="128" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">33:20</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="cUhPA5qIxDQ" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
    </div>
    <div class="lohp-media-object-content lohp-medium-shelf-content">
        <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAUQ0h4oAQ"
     href="/watch?v=cUhPA5qIxDQ"
     title="Tomorrowland 2013 | official aftermovie">Tomorrowland 2013 | official aftermovie</a>

      <div class="lohp-video-metadata attached">
          <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/TomorrowlandChannel" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCsN8M73DMWa8SPp5o_0IAQQ" data-name="">Tomorrowland Channel</a>
  </span>

      </div>
        <div class="lohp-video-metadata">
            <span class="view-count">
    3,998,712 views
  </span>

            <span class="content-item-time-created" title="1 day ago">
    1 day ago
  </span>

        </div>
    </div>
  </div>

            <div class="lohp-medium-shelf context-data-item vve-check spf-link" data-context-item-type="video" data-context-item-id="lGglw8eAikY" data-context-item-time="2:49" data-context-item-user="AsapSCIENCE" data-context-item-title="The Science of Heartbreak" data-context-item-views="469,030 views" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAcQ0x4oAg">
    
    <div class="lohp-media-object">
      <a href="/watch?v=lGglw8eAikY" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAcQ0x4oAg&amp;hdline=-8945879688072962774">    <span class="video-thumb  yt-thumb yt-thumb-128"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="//i1.ytimg.com/vi/lGglw8eAikY/default.jpg" alt="Thumbnail" width="128" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">2:49</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="lGglw8eAikY" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
    </div>
    <div class="lohp-media-object-content lohp-medium-shelf-content">
        <a class="lohp-video-link max-line-1 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAcQ0x4oAg&amp;hdline=-8945879688072962774"
     href="/watch?v=lGglw8eAikY"
     title="The Science of Heartbreak">The Science of Heartbreak</a>

      <div class="lohp-video-metadata attached">
          <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/AsapSCIENCE" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCC552Sd-3nyi_tk2BudLUzA" data-name="">AsapSCIENCE</a>
  </span>

      </div>
        
    <p title="Heartbreak Can Be Just as Bad as Physical Pain, and AsapSCIENCE Wants To Show You How [Video]" class="lohp-blog-headline">
      Heartbreak Can Be Just as Bad as Physical Pain, and AsapSCIENCE Wants To Show You How [Video]
    </p>
    <a title="Geekosystem" href="/channel/HCp6OrGbi73qY?feature=g-logo" class="lohp-blog-attribution">
      <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" class="lohp-blog-decoration">Geekosystem
    </a>

    </div>
  </div>

            <div class="lohp-medium-shelf context-data-item vve-check spf-link" data-context-item-type="video" data-context-item-id="-xJQyj8dSCg" data-context-item-time="7:04" data-context-item-user="Mental Floss" data-context-item-title="48 Names for Things You Didn&#39;t Know Had Names - mental_floss on YouTube (Ep. 26)" data-context-item-views="358,101 views" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAkQ0h4oAw">
    
    <div class="lohp-media-object">
      <a href="/watch?v=-xJQyj8dSCg" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAkQ0h4oAw">    <span class="video-thumb  yt-thumb yt-thumb-128"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="//i1.ytimg.com/vi/-xJQyj8dSCg/default.jpg" alt="Thumbnail" width="128" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">7:04</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="-xJQyj8dSCg" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
    </div>
    <div class="lohp-media-object-content lohp-medium-shelf-content">
        <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAkQ0h4oAw"
     href="/watch?v=-xJQyj8dSCg"
     title="48 Names for Things You Didn&#39;t Know Had Names - mental_floss on YouTube (Ep. 26)">48 Names for Things You Didn&#39;t Know Had Names - mental_floss on YouTube (Ep. 26)</a>

      <div class="lohp-video-metadata attached">
          <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/MentalFlossVideo" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCpZ5qUqpW4hW4zdfuBxMSJA" data-name="">Mental Floss</a>  <span class="yt-user-name-icon-verified">
    <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="yt-uix-tooltip yt-channel-title-icon-verified" alt="" title="Verified name">
  </span>

  </span>

      </div>
        <div class="lohp-video-metadata">
            <span class="view-count">
    358,101 views
  </span>

            <span class="content-item-time-created" title="1 day ago">
    1 day ago
  </span>

        </div>
    </div>
  </div>

    </div>
  </div>



    
        <div class="lohp-vbox-list vve-check lohp-left-vbox-list"
    data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAsQ1R4oAQ">
          <div class="vve-check" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CAwQyx4oAA">
          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CA0QzR4oAA">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-2">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/channel/HCxAJ-ON2kZuw" title="Entertainment" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CA4Qzh4">
          Entertainment
        </a>
          <a href="/watch_videos?feature=c4-overview&amp;type=0&amp;more_url=&amp;title=Entertainment&amp;video_ids=oprUI6nupfc%2Cn7-RetY7fGo" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""><span class="yt-uix-button-content">Play</span></a>

  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item spf-link" data-context-item-type="video" data-context-item-id="oprUI6nupfc" data-context-item-time="3:33" data-context-item-user="Jimmy Kimmel Live" data-context-item-title="First Look: iPhone 5s" data-context-item-views="1,215,468 views">
          
          <a href="/watch?v=oprUI6nupfc" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CA8Qzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-182"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/oprUI6nupfc/mqdefault.jpg" alt="Thumbnail" width="182" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">3:33</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="oprUI6nupfc" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CA8Qzx4oAA"
     href="/watch?v=oprUI6nupfc"
     title="First Look: iPhone 5s">First Look: iPhone 5s</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    1,215,468 views
  </span>

              <span class="content-item-time-created" title="1 day ago">
    1 day ago
  </span>

          </div>
        </div>

        <div class="lohp-category-shelf-item context-data-item  last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="n7-RetY7fGo" data-context-item-time="1:36" data-context-item-user="teamcoco" data-context-item-title="Presenting The Gold iPhone 5s" data-context-item-views="268,262 views">
          
          <a href="/watch?v=n7-RetY7fGo" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBEQzx4oAQ">    <span class="video-thumb  yt-thumb yt-thumb-182"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/n7-RetY7fGo/mqdefault.jpg" alt="Thumbnail" width="182" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">1:36</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="n7-RetY7fGo" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBEQzx4oAQ"
     href="/watch?v=n7-RetY7fGo"
     title="Presenting The Gold iPhone 5s">Presenting The Gold iPhone 5s</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    268,262 views
  </span>

              <span class="content-item-time-created" title="21 hours ago">
    21 hours ago
  </span>

          </div>
        </div>
    </div>
  </div>

          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check last-shelf-in-line" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBMQzR4oAQ">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/channel/HCp-Rdqh3z4Uc" title="Music" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBQQzh4">
          Music
        </a>
          <a href="/watch_videos?feature=c4-overview&amp;type=0&amp;more_url=&amp;title=Music&amp;video_ids=My2FRPA3Gf8%2CaQ-vU28uPb0" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""><span class="yt-uix-button-content">Play</span></a>

  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="My2FRPA3Gf8" data-context-item-time="3:42" data-context-item-user="MileyCyrusVEVO" data-context-item-title="Miley Cyrus - Wrecking Ball" data-context-item-views="66,161,058 views">
          
          <a href="/watch?v=My2FRPA3Gf8" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBUQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-165"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/My2FRPA3Gf8/mqdefault.jpg" alt="Thumbnail" width="165" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">3:42</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="My2FRPA3Gf8" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBUQzx4oAA"
     href="/watch?v=My2FRPA3Gf8"
     title="Miley Cyrus - Wrecking Ball">Miley Cyrus - Wrecking Ball</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    66,161,058 views
  </span>

              <span class="content-item-time-created" title="3 days ago">
    3 days ago
  </span>

          </div>
        </div>
    </div>
  </div>

  </div>

          <div class="vve-check" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBcQyx4oAQ">
          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBgQzR4oAA">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/user/earthcam" title="The Official EarthCam Channel" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBkQzh4">
          The Official EarthCam Channel
        </a>
      
  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="Nn11DWH_LEA" data-context-item-time="1:59" data-context-item-user="earthcam" data-context-item-title="Official One World Trade Center Time-Lapse 2004-2013" data-context-item-views="997,218 views">
          
          <a href="/watch?v=Nn11DWH_LEA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBoQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-165"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/Nn11DWH_LEA/mqdefault.jpg" alt="Thumbnail" width="165" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">1:59</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="Nn11DWH_LEA" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBoQzx4oAA"
     href="/watch?v=Nn11DWH_LEA"
     title="Official One World Trade Center Time-Lapse 2004-2013">Official One World Trade Center Time-Lapse 2004-2013</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    997,218 views
  </span>

              <span class="content-item-time-created" title="1 day ago">
    1 day ago
  </span>

          </div>
        </div>
    </div>
  </div>

          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CBwQzR4oAQ">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/user/animalnewyork" title="animalnewyork" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CB0Qzh4">
          animalnewyork
        </a>
      
  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="WAHT8rs2AZ0" data-context-item-time="2:19" data-context-item-user="animalnewyork" data-context-item-title="Citi Bike BMX" data-context-item-views="456,396 views">
          
          <a href="/watch?v=WAHT8rs2AZ0" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CB4Qzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-165"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/WAHT8rs2AZ0/mqdefault.jpg" alt="Thumbnail" width="165" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">2:19</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="WAHT8rs2AZ0" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CB4Qzx4oAA"
     href="/watch?v=WAHT8rs2AZ0"
     title="Citi Bike BMX">Citi Bike BMX</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    456,396 views
  </span>

              <span class="content-item-time-created" title="1 day ago">
    1 day ago
  </span>

          </div>
        </div>
    </div>
  </div>

          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check last-shelf-in-line" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCAQzR4oAg">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/user/hakopdetak" title="Dave Hakkens" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCEQzh4">
          Dave Hakkens
        </a>
      
  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="oDAw7vW7H0c" data-context-item-time="2:47" data-context-item-user="Dave Hakkens" data-context-item-title="Phonebloks" data-context-item-views="5,744,490 views">
          
          <a href="/watch?v=oDAw7vW7H0c" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCIQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-165"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/oDAw7vW7H0c/mqdefault.jpg" alt="Thumbnail" width="165" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">2:47</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="oDAw7vW7H0c" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCIQzx4oAA"
     href="/watch?v=oDAw7vW7H0c"
     title="Phonebloks">Phonebloks</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    5,744,490 views
  </span>

              <span class="content-item-time-created" title="2 days ago">
    2 days ago
  </span>

          </div>
        </div>
    </div>
  </div>

  </div>

          <div class="vve-check" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCQQyx4oAg">
          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCUQzR4oAA">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/user/whitehouse" title="The White House" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCYQzh4">
          The White House
        </a>
      
  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="y52LeaK6tHA" data-context-item-time="15:47" data-context-item-user="The White House" data-context-item-title="President Obama Addresses the Nation on Syria" data-context-item-views="701,415 views">
          
          <a href="/watch?v=y52LeaK6tHA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCcQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-165"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/y52LeaK6tHA/mqdefault.jpg" alt="Thumbnail" width="165" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">15:47</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="y52LeaK6tHA" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCcQzx4oAA"
     href="/watch?v=y52LeaK6tHA"
     title="President Obama Addresses the Nation on Syria">President Obama Addresses the Nation on Syria</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    701,415 views
  </span>

              <span class="content-item-time-created" title="1 day ago">
    1 day ago
  </span>

          </div>
        </div>
    </div>
  </div>

          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check last-shelf-in-line" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCkQzR4oAQ">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-2">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/channel/HCOvlZkU39tdk" title="Movies" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCoQzh4">
          Movies
        </a>
          <a href="/watch_videos?feature=c4-overview&amp;type=0&amp;more_url=&amp;title=Movies&amp;video_ids=Pzesuv9dPig%2ClTQq9GirxJQ%2C7PMDYfk4lDw" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""><span class="yt-uix-button-content">Play</span></a>

  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item spf-link" data-context-item-type="video" data-context-item-id="Pzesuv9dPig" data-context-item-time="2:48" data-context-item-user="AVbyte" data-context-item-title="GTA V - The Musical (GTA 5)" data-context-item-views="1,625,527 views">
          
          <a href="/watch?v=Pzesuv9dPig" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCsQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-182"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/Pzesuv9dPig/mqdefault.jpg" alt="Thumbnail" width="182" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">2:48</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="Pzesuv9dPig" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CCsQzx4oAA"
     href="/watch?v=Pzesuv9dPig"
     title="GTA V - The Musical (GTA 5)">GTA V - The Musical (GTA 5)</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    1,625,527 views
  </span>

              <span class="content-item-time-created" title="3 days ago">
    3 days ago
  </span>

          </div>
        </div>

        <div class="lohp-category-shelf-item context-data-item  last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="lTQq9GirxJQ" data-context-item-time="1:21" data-context-item-user="OnlyLeigh" data-context-item-title="Fangirls at School" data-context-item-views="341,100 views">
          
          <a href="/watch?v=lTQq9GirxJQ" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CC0Qzx4oAQ">    <span class="video-thumb  yt-thumb yt-thumb-182"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/lTQq9GirxJQ/mqdefault.jpg" alt="Thumbnail" width="182" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">1:21</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="lTQq9GirxJQ" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CC0Qzx4oAQ"
     href="/watch?v=lTQq9GirxJQ"
     title="Fangirls at School">Fangirls at School</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    341,100 views
  </span>

              <span class="content-item-time-created" title="3 days ago">
    3 days ago
  </span>

          </div>
        </div>
    </div>
  </div>

  </div>

          <div class="vve-check" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CC8Qyx4oAw">
          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check last-shelf-in-line" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDAQzR4oAA">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-3">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/channel/HC7Dr1BKwqctY" title="Sports" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDEQzh4">
          Sports
        </a>
          <a href="/watch_videos?feature=c4-overview&amp;type=0&amp;more_url=&amp;title=Sports&amp;video_ids=SQRduwgFMGo%2CX7JgVqbh8nE%2CSO_x2kl9IF4" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""><span class="yt-uix-button-content">Play</span></a>

  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item spf-link" data-context-item-type="video" data-context-item-id="SQRduwgFMGo" data-context-item-time="4:39" data-context-item-user="Dude Perfect" data-context-item-title="NERF Trick Shots" data-context-item-views="1,113,640 views">
          
          <a href="/watch?v=SQRduwgFMGo" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDIQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-189"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/SQRduwgFMGo/mqdefault.jpg" alt="Thumbnail" width="189" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">4:39</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="SQRduwgFMGo" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDIQzx4oAA"
     href="/watch?v=SQRduwgFMGo"
     title="NERF Trick Shots">NERF Trick Shots</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    1,113,640 views
  </span>

              <span class="content-item-time-created" title="3 days ago">
    3 days ago
  </span>

          </div>
        </div>

        <div class="lohp-category-shelf-item context-data-item  spf-link" data-context-item-type="video" data-context-item-id="X7JgVqbh8nE" data-context-item-time="2:41" data-context-item-user="thegregorybrothers" data-context-item-title="Wrecking Ball - The Country Version" data-context-item-views="232,175 views">
          
          <a href="/watch?v=X7JgVqbh8nE" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDQQzx4oAQ">    <span class="video-thumb  yt-thumb yt-thumb-189"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/X7JgVqbh8nE/mqdefault.jpg" alt="Thumbnail" width="189" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">2:41</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="X7JgVqbh8nE" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDQQzx4oAQ"
     href="/watch?v=X7JgVqbh8nE"
     title="Wrecking Ball - The Country Version">Wrecking Ball - The Country Version</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    232,175 views
  </span>

              <span class="content-item-time-created" title="3 days ago">
    3 days ago
  </span>

          </div>
        </div>

        <div class="lohp-category-shelf-item context-data-item  last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="SO_x2kl9IF4" data-context-item-time="1:38" data-context-item-user="whoisjimmy" data-context-item-title="98m WORLD RECORD Basketball Shot | Euromast - How Ridiculous &amp; Bavaria" data-context-item-views="1,045,172 views">
          
          <a href="/watch?v=SO_x2kl9IF4" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDYQzx4oAg">    <span class="video-thumb  yt-thumb yt-thumb-189"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/SO_x2kl9IF4/mqdefault.jpg" alt="Thumbnail" width="189" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">1:38</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="SO_x2kl9IF4" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDYQzx4oAg"
     href="/watch?v=SO_x2kl9IF4"
     title="98m WORLD RECORD Basketball Shot | Euromast - How Ridiculous &amp; Bavaria">98m WORLD RECORD Basketball Shot | Euromast - How Ridiculous &amp; Bavaria</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    1,045,172 views
  </span>

              <span class="content-item-time-created" title="1 week ago">
    1 week ago
  </span>

          </div>
        </div>
    </div>
  </div>

  </div>

          <div class="vve-check" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDgQyx4oBA">
          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDkQzR4oAA">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/user/KorraSpiritClips" title="KorraSpirit - CLIPS" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDoQzh4">
          KorraSpirit - CLIPS
        </a>
      
  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="0B3ARCk0-pI" data-context-item-time="1:51" data-context-item-user="KorraSpiritClips" data-context-item-title="Legend of Korra: Book 2: FINAL TRAILER [HD]" data-context-item-views="355,645 views">
          
          <a href="/watch?v=0B3ARCk0-pI" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDsQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-165"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/0B3ARCk0-pI/mqdefault.jpg" alt="Thumbnail" width="165" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">1:51</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="0B3ARCk0-pI" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CDsQzx4oAA"
     href="/watch?v=0B3ARCk0-pI"
     title="Legend of Korra: Book 2: FINAL TRAILER [HD]">Legend of Korra: Book 2: FINAL TRAILER [HD]</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    355,645 views
  </span>

              <span class="content-item-time-created" title="2 days ago">
    2 days ago
  </span>

          </div>
        </div>
    </div>
  </div>

          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CD0QzR4oAQ">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/user/Apple" title="Apple" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CD4Qzh4">
          Apple
        </a>
      
  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="utUPth77L_o" data-context-item-time="4:36" data-context-item-user="Apple" data-context-item-title="Apple - Introducing iPhone 5c - For the colorful." data-context-item-views="1,028,852 views">
          
          <a href="/watch?v=utUPth77L_o" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CD8Qzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-165"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/utUPth77L_o/mqdefault.jpg" alt="Thumbnail" width="165" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">4:36</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="utUPth77L_o" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CD8Qzx4oAA"
     href="/watch?v=utUPth77L_o"
     title="Apple - Introducing iPhone 5c - For the colorful.">Apple - Introducing iPhone 5c - For the colorful.</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    1,028,852 views
  </span>

              <span class="content-item-time-created" title="1 day ago">
    1 day ago
  </span>

          </div>
        </div>
    </div>
  </div>

          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check last-shelf-in-line" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEEQzR4oAg">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/user/TheSecondCityNetwork" title="The Second City Network" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEIQzh4">
          The Second City Network
        </a>
      
  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="z-sdO6pwVHQ" data-context-item-time="3:45" data-context-item-user="TheSecondCityNetwork" data-context-item-title="Help Kickstart World War III!" data-context-item-views="1,755,426 views">
          
          <a href="/watch?v=z-sdO6pwVHQ" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEMQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-165"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/z-sdO6pwVHQ/mqdefault.jpg" alt="Thumbnail" width="165" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">3:45</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="z-sdO6pwVHQ" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEMQzx4oAA"
     href="/watch?v=z-sdO6pwVHQ"
     title="Help Kickstart World War III!">Help Kickstart World War III!</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    1,755,426 views
  </span>

              <span class="content-item-time-created" title="3 days ago">
    3 days ago
  </span>

          </div>
        </div>
    </div>
  </div>

  </div>

          <div class="vve-check" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEUQyx4oBQ">
          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEYQzR4oAA">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/user/googleplusupdates" title="Google+" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEcQzh4">
          Google+
        </a>
      
  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="Lm4aKZ0NpFM" data-context-item-time="1:03" data-context-item-user="Google+" data-context-item-title="Google+ Photos: Editing tools to make your photos smile" data-context-item-views="68,198 views">
          
          <a href="/watch?v=Lm4aKZ0NpFM" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEgQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-165"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/Lm4aKZ0NpFM/mqdefault.jpg" alt="Thumbnail" width="165" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">1:03</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="Lm4aKZ0NpFM" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEgQzx4oAA"
     href="/watch?v=Lm4aKZ0NpFM"
     title="Google+ Photos: Editing tools to make your photos smile">Google+ Photos: Editing tools to make your photos smile</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    68,198 views
  </span>

              <span class="content-item-time-created" title="1 day ago">
    1 day ago
  </span>

          </div>
        </div>
    </div>
  </div>

          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEoQzR4oAQ">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/user/motorola" title="Motorola" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEsQzh4">
          Motorola
        </a>
      
  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="2_JQxm53114" data-context-item-time="1:03" data-context-item-user="motorola" data-context-item-title="Moto X &quot;Lazy Phone&quot; Ad -- Touchless Control" data-context-item-views="8,860,121 views">
          
          <a href="/watch?v=2_JQxm53114" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEwQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-165"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/2_JQxm53114/mqdefault.jpg" alt="Thumbnail" width="165" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">1:03</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="2_JQxm53114" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CEwQzx4oAA"
     href="/watch?v=2_JQxm53114"
     title="Moto X &quot;Lazy Phone&quot; Ad -- Touchless Control">Moto X &quot;Lazy Phone&quot; Ad -- Touchless Control</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    8,860,121 views
  </span>

              <span class="content-item-time-created" title="3 days ago">
    3 days ago
  </span>

          </div>
        </div>
    </div>
  </div>

          <div class="lohp-shelf-cell-container lohp-category-shelf vve-check last-shelf-in-line" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CE4QzR4oAg">
    

    <div class="lohp-category-shelf-item-list lohp-shelf-size-1">
              <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/user/ArcadeFireVEVO" title="Arcade Fire" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CE8Qzh4">
          Arcade Fire
        </a>
      
  </h2>



        <div class="lohp-category-shelf-item context-data-item first-shelf-item last-shelf-item spf-link" data-context-item-type="video" data-context-item-id="7E0fVfectDo" data-context-item-time="7:42" data-context-item-user="ArcadeFireVEVO" data-context-item-title="Arcade Fire - Reflektor" data-context-item-views="1,652,740 views">
          
          <a href="/watch?v=7E0fVfectDo" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFAQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-165"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/7E0fVfectDo/mqdefault.jpg" alt="Thumbnail" width="165" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">7:42</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="7E0fVfectDo" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
            <a class="lohp-video-link max-line-2 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFAQzx4oAA"
     href="/watch?v=7E0fVfectDo"
     title="Arcade Fire - Reflektor">Arcade Fire - Reflektor</a>

          <div class="lohp-video-metadata">
              <span class="view-count">
    1,652,740 views
  </span>

              <span class="content-item-time-created" title="3 days ago">
    3 days ago
  </span>

          </div>
        </div>
    </div>
  </div>

  </div>

  </div>



    
        <div class="lohp-vbox-list vve-check lohp-right-vbox-list"
    data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFIQ1R4oAg">
          <div class="lohp-vertical-shelf vve-check" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFMQzR4oAA">
    
            <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/channel/HCPvDBPPFfuaM" title="News - Worldwide" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFQQzh4">
          News - Worldwide
        </a>
          <a href="/watch_videos?feature=c4-overview&amp;type=0&amp;more_url=&amp;title=News+-+Worldwide&amp;video_ids=8Ddt8xnnGGA%2C8psKZ3f7FPM%2CC-jVGSC9Py4%2CkVTmWxnB5iM" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""><span class="yt-uix-button-content">Play</span></a>

  </h2>


      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="8Ddt8xnnGGA" data-context-item-time="57:01" data-context-item-user="NASAtelevision" data-context-item-title="NASA&#39;s Voyager 1 is in Interstellar Space" data-context-item-views="484 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=8Ddt8xnnGGA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFUQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/8Ddt8xnnGGA/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">57:01</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="8Ddt8xnnGGA" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFUQzx4oAA"
     href="/watch?v=8Ddt8xnnGGA"
     title="NASA&#39;s Voyager 1 is in Interstellar Space">NASA&#39;s Voyager 1 is in Interstellar Space</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/NASAtelevision" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCLA_DiR1FfKNvjuUpBHmylQ" data-name="">NASAtelevision</a>
  </span>

          </div>
        </div>
      </div>
      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="8psKZ3f7FPM" data-context-item-time="2:18" data-context-item-user="Bloomberg" data-context-item-title="Twitter Files for IPO" data-context-item-views="128 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=8psKZ3f7FPM" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFcQzx4oAQ">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/8psKZ3f7FPM/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">2:18</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="8psKZ3f7FPM" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFcQzx4oAQ"
     href="/watch?v=8psKZ3f7FPM"
     title="Twitter Files for IPO">Twitter Files for IPO</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/Bloomberg" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCUMZ7gohGI9HcU9VNsr2FJQ" data-name="">Bloomberg</a>
  </span>

          </div>
        </div>
      </div>
      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="C-jVGSC9Py4" data-context-item-time="4:13" data-context-item-user="MrViralNews" data-context-item-title="Seaside Boardwalk Fire NJ - Fire erupts on Seaside Park NJ boardwalk" data-context-item-views="301 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=C-jVGSC9Py4" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFkQzx4oAg">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/C-jVGSC9Py4/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">4:13</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="C-jVGSC9Py4" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFkQzx4oAg"
     href="/watch?v=C-jVGSC9Py4"
     title="Seaside Boardwalk Fire NJ - Fire erupts on Seaside Park NJ boardwalk">Seaside Boardwalk Fire NJ - Fire erupts on Seaside Park NJ boardwalk</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/MrViralNews" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCSmZt57aGgQNw0DqbXV5kuA" data-name="">MrViralNews</a>
  </span>

          </div>
        </div>
      </div>
      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="kVTmWxnB5iM" data-context-item-time="5:02" data-context-item-user="TheBadAstronomer" data-context-item-title="Massive Boulder, CO Flood: September 12 2013" data-context-item-views="10,503 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=kVTmWxnB5iM" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFsQzx4oAw">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/kVTmWxnB5iM/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">5:02</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="kVTmWxnB5iM" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CFsQzx4oAw"
     href="/watch?v=kVTmWxnB5iM"
     title="Massive Boulder, CO Flood: September 12 2013">Massive Boulder, CO Flood: September 12 2013</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/TheBadAstronomer" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UC45SDrjKlPSY0bTvH6F7TOA" data-name="">TheBadAstronomer</a>
  </span>

          </div>
        </div>
      </div>
  </div>

          <div class="lohp-vertical-shelf vve-check" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CF0QzR4oAQ">
    
            <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/channel/HCp-Rdqh3z4Uc" title="Music" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CF4Qzh4">
          Music
        </a>
          <a href="/watch_videos?feature=c4-overview&amp;type=0&amp;more_url=&amp;title=Music&amp;video_ids=CevxZvSJLk8%2CINmtQXUXez8%2CLrUvu1mlWco%2Co_v9MY_FMcw" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""><span class="yt-uix-button-content">Play</span></a>

  </h2>


      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="CevxZvSJLk8" data-context-item-time="4:30" data-context-item-user="KatyPerryVEVO" data-context-item-title="Katy Perry - Roar (Official)" data-context-item-views="52,838,425 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=CevxZvSJLk8" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CF8Qzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/CevxZvSJLk8/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">4:30</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="CevxZvSJLk8" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CF8Qzx4oAA"
     href="/watch?v=CevxZvSJLk8"
     title="Katy Perry - Roar (Official)">Katy Perry - Roar (Official)</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/KatyPerryVEVO" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UC-8Q-hLdECwQmaWNwXitYDw" data-name="">KatyPerryVEVO</a>
  </span>

          </div>
        </div>
      </div>
      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="INmtQXUXez8" data-context-item-time="2:20" data-context-item-user="CBMTrailers" data-context-item-title="ROBOCOP - Official Trailer (2014) [HQ]" data-context-item-views="15,423,486 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=INmtQXUXez8" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGEQzx4oAQ">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/INmtQXUXez8/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">2:20</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="INmtQXUXez8" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGEQzx4oAQ"
     href="/watch?v=INmtQXUXez8"
     title="ROBOCOP - Official Trailer (2014) [HQ]">ROBOCOP - Official Trailer (2014) [HQ]</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/CBMTrailers" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCVJWMJivK-w1AfIZxLAlEfg" data-name="">CBMTrailers</a>
  </span>

          </div>
        </div>
      </div>
      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="LrUvu1mlWco" data-context-item-time="3:34" data-context-item-user="MileyCyrusVEVO" data-context-item-title="Miley Cyrus - We Can&#39;t Stop" data-context-item-views="190,644,181 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=LrUvu1mlWco" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGMQzx4oAg">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/LrUvu1mlWco/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">3:34</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="LrUvu1mlWco" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGMQzx4oAg"
     href="/watch?v=LrUvu1mlWco"
     title="Miley Cyrus - We Can&#39;t Stop">Miley Cyrus - We Can&#39;t Stop</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/MileyCyrusVEVO" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCdI8evszfZvyAl2UVCypkTA" data-name="">MileyCyrusVEVO</a>
  </span>

          </div>
        </div>
      </div>
      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="o_v9MY_FMcw" data-context-item-time="6:13" data-context-item-user="OneDirectionVEVO" data-context-item-title="One Direction - Best Song Ever" data-context-item-views="107,702,238 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=o_v9MY_FMcw" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGUQzx4oAw">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/o_v9MY_FMcw/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">6:13</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="o_v9MY_FMcw" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGUQzx4oAw"
     href="/watch?v=o_v9MY_FMcw"
     title="One Direction - Best Song Ever">One Direction - Best Song Ever</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/OneDirectionVEVO" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCbW18JZRgko_mOGm5er8Yzg" data-name="">OneDirectionVEVO</a>
  </span>

          </div>
        </div>
      </div>
  </div>

          <div class="lohp-vertical-shelf vve-check" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGcQzR4oAg">
    
            <h2 class="branded-page-module-title">
        <a class="yt-uix-sessionlink branded-page-module-title-link spf-link" href="/channel/HC4qRk91tndwg" title="Most Popular" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGgQzh4">
          Most Popular
        </a>
          <a href="/watch_videos?feature=c4-overview&amp;type=0&amp;more_url=&amp;title=Most+Popular&amp;video_ids=mfxk4o1yfX8%2ChKNDml12Big%2CtlI022aUWQQ%2Cm2ThTb6iffA" class="yt-uix-button  shelves-play yt-uix-sessionlink yt-uix-button-default yt-uix-button-size-small" data-sessionlink="ei=g1UyUvKHD6SligKfhYEo"><img class="yt-uix-button-icon yt-uix-button-icon-play-all" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""><span class="yt-uix-button-content">Play</span></a>

  </h2>


      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="mfxk4o1yfX8" data-context-item-time="1:18" data-context-item-user="BBC" data-context-item-title="BBC News HD Boston bike rack fixed by group on night out" data-context-item-views="415,289 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=mfxk4o1yfX8" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGkQzx4oAA">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/mfxk4o1yfX8/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">1:18</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="mfxk4o1yfX8" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGkQzx4oAA"
     href="/watch?v=mfxk4o1yfX8"
     title="BBC News HD Boston bike rack fixed by group on night out">BBC News HD Boston bike rack fixed by group on night out</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/BBCHD2014" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCHvqWH663K4s4BxGwbIP54A" data-name="">BBC</a>
  </span>

          </div>
        </div>
      </div>
      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="hKNDml12Big" data-context-item-time="2:26" data-context-item-user="Stphane Bouley" data-context-item-title="Monty Python and the Holy Grail Modern Trailer" data-context-item-views="1,073,176 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=hKNDml12Big" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGsQzx4oAQ">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/hKNDml12Big/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">2:26</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="hKNDml12Big" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CGsQzx4oAQ"
     href="/watch?v=hKNDml12Big"
     title="Monty Python and the Holy Grail Modern Trailer">Monty Python and the Holy Grail Modern Trailer</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/channel/UCi85oDbsKaRugSjjjbfIW0Q" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCi85oDbsKaRugSjjjbfIW0Q" data-name="">Stphane Bouley</a>
  </span>

          </div>
        </div>
      </div>
      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="tlI022aUWQQ" data-context-item-time="5:20" data-context-item-user="CGPGrey" data-context-item-title="What is reddit?" data-context-item-views="1,181,004 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=tlI022aUWQQ" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CG0Qzx4oAg">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/tlI022aUWQQ/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">5:20</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="tlI022aUWQQ" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CG0Qzx4oAg"
     href="/watch?v=tlI022aUWQQ"
     title="What is reddit?">What is reddit?</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/CGPGrey" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UC2C_jShtL725hvbm1arSV9w" data-name="">CGPGrey</a>
  </span>

          </div>
        </div>
      </div>
      <div class="lohp-vertical-shelf-item context-data-item" data-context-item-type="video" data-context-item-id="m2ThTb6iffA" data-context-item-time="5:46" data-context-item-user="ekai" data-context-item-title="Drone&#39;s eye view of Burning Man 2013" data-context-item-views="1,244,190 views">
        <div class="lohp-media-object spf-link">
          <a href="/watch?v=m2ThTb6iffA" class="ux-thumb-wrap yt-uix-sessionlink yt-uix-contextlink contains-addto lohp-thumb-wrap"  data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CG8Qzx4oAw">    <span class="video-thumb  yt-thumb yt-thumb-64"
      >
      <span class="yt-thumb-default">
        <span class="yt-thumb-clip">
          <span class="yt-thumb-clip-inner">
            <img src="https://s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" data-thumb="//i1.ytimg.com/vi/m2ThTb6iffA/default.jpg" alt="Thumbnail" width="64" >
            <span class="vertical-align"></span>
          </span>
        </span>
      </span>
    </span>
<span class="video-time">5:46</span>

  <button class="addto-button video-actions spf-nolink addto-watch-later-button-sign-in yt-uix-button yt-uix-button-default yt-uix-button-size-small yt-uix-tooltip" title="Watch Later" type="button" onclick=";return false;" data-button-menu-id="shared-addto-watch-later-login" data-video-ids="m2ThTb6iffA" role="button"><span class="yt-uix-button-content">  <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="Watch Later">
 </span><img class="yt-uix-button-arrow" src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" alt="" title=""></button>
</a>
        </div>
        <div class="lohp-vertical-shelf-item-content lohp-media-object-content">
            <a class="lohp-video-link max-line-3 yt-uix-sessionlink spf-link"
     data-sessionlink="feature=g-logo&amp;ei=g1UyUvKHD6SligKfhYEo&amp;ved=CG8Qzx4oAw"
     href="/watch?v=m2ThTb6iffA"
     title="Drone&#39;s eye view of Burning Man 2013">Drone&#39;s eye view of Burning Man 2013</a>

          <div class="lohp-video-metadata attached">
              <span class="content-uploader spf-link">
<span class="username-prepend">by</span> <a href="/user/ekai" class="g-hovercard yt-uix-sessionlink yt-user-name " data-sessionlink="ei=g1UyUvKHD6SligKfhYEo" dir="ltr" data-ytid="UCYxK2UZju8ZiRQ6JSwm4oWQ" data-name="">ekai</a>
  </span>

          </div>
        </div>
      </div>
  </div>

  </div>

  <div style="clear:both;"></div>
#}

<style>
.new-home-container .yt-alert
{
   position: relative;
   top: -5px;
}
.new-home-container .yt-alert-default .yt-alert-content
{
   padding: 12px 2px;
}
.new-home
{
   padding-left: 12px;
}
.home-padding
{
   margin: 12px;
   margin-right: 8px;
}
</style>
<div class="new-home-container">
   <div class="yt-alert yt-alert-default yt-alert-info">  <div class="yt-alert-icon">
       <img src="//s.ytimg.com/yts/img/pixel-vfl3z5WfW.gif" class="icon master-sprite" alt="Alert icon">
     </div>
   <div class="yt-alert-buttons"></div><div class="yt-alert-content" role="alert"><span class="yt-alert-vertical-trick"></span>
       <div class="yt-alert-message">
         Hello, this homepage is temporary and will be made more accurate in a later update.
         
       </div>
   </div></div>
   <ul class="feeds-mode new-home">
   {%- for video in home -%}
      <li class="channels-content-item yt-shelf-grid-item home-padding">
      {{ context_item.grid_item(video) }}
      </li>
   {%- endfor -%}
   </ul>
</div>


    </div>

  </div>

      </div>
    </div>
  </div>
{% endblock %}