{% extends "/base/base.html.twig" %}

{% block content %}
<style>
   .to-be-implemented
   {
      margin-top: 20px;
      color: #333;
      font-size: 20px;
   }
</style>
<div class="to-be-implemented">
   <div class="message">
      {{ message|raw }}
   </div>
</div>
{% endblock %}