<div id="player" class="  {{ global.ytPlayerClass ?: 'off-screen' }}  ">
  <div id="playlist" class="playlist">
    
  </div>

  <div id="player-unavailable" class="  hid  ">
    
  </div>

    <div id="player-api" class="player-width player-height off-screen-target watch-content player-api"></div>


  <div id="playlist-tray" class="playlist-tray">
    
  </div>

  

  <div id="player-branded-banner" class="player-branded-banner">
    
  </div>
</div>